.jumbotron{
    background-color: rgb(97, 191, 255);
    color: black;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(97, 191, 255);
    margin-bottom: 0px;
    margin-top: 15px;
}
.card-hotel{
    flex: 1 150px;
    padding: 5px 8px 5px 8px;
}
.btn-reserva{
    width: 100%;
}